*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
  }
  img{
    max-width: 100%;
    height: auto;
  }
  body{
    background-color: #FFD370;  
}
  
  /************** 註冊Register ************/
  .register-wrap {
      margin: 100px auto;
      max-width: 1024px;
      background-color: #FFD370;
      display: flex;
      justify-content:space-around;
      align-items: center;
      .register-pics{
        display: flex;
        flex-direction: column;
        width: 50%;
      }
    }
    /************** 表格Form ************/
    .register-form{
        width: 50%;
        h2{
            padding: 0 74px;
        }
    }
    form{
      display: flex;
      flex-direction: column;
      width: 70%;
      margin: 0 auto;
      .registerEmail,
      .nickName,
      .registerPassword,
      .passwordAgain{
        padding: 12px 16px;
        border-radius: 5px;
        outline: none;
        border: none;
      }
      label{
        margin: 20px 0 5px 0;
        font-weight: bold;
      }
      p{
        color: #D87355;
        font-weight: bold;
        margin-top: 5px;
      }
    }
    /************** 按鈕 ************/
    .btn-div{
      display: flex;
      flex-direction: column;
      align-items: center;
        
      .registerBtn{
        width: 128px;
        border-radius: 5px;
        background-color: black;
        color: #fff;
        padding: 12px 40px;
        font-weight: bold;
        margin: 20px 0;
        border: 0;
        cursor: pointer;
      }
      .registerBtn:hover{
        color: #FFD370;
        background-color: #fff;
      }
      .loginBtn{
        font-weight: bold;
        color: black;
      }
      .loginBtn:hover{
        color: #fff;
      }
    }
    
  